
*{margin: 0;padding: 0;}
a{
	text-decoration: none;color: #333;
}
ul{
	list-style: none;
}
img{
	vertical-align: middle;
}
.left{
	float: left;
}
.right{
	float: right;
}
/**/
header{
	width: 16rem;2.5rem;
}
header img{
	width: 16rem;
}
.nav{
	width: 16rem;height:1.1rem;display: flex;font-size: 0.6rem;
	justify-content: space-around;
}
.nav a{
	color: #D3E8A3;
}
/**/
.search_box{
	width: 16rem;height:1.5rem;display: flex;
}
.search_box span img{
	width:1.4rem;height: 1.4rem;
}
.search_b{
	width: 14rem;height: 1.4rem;border-radius: 0.7rem;background: #eee;display: flex;
	justify-content: center;align-items: center;
}
.search_b img{
	width: 1rem;height: 0.9rem;margin-left: 0.2rem;
}
.search_b input{
	border: none;width: 12rem;height: 1.2rem;background: #eee;
	font-size: 0.6rem;outline: none;padding-left: 0.2rem;
}
/**/
.swiper-container{
	margin-top: 0.5rem;
}
.swiper-slide img{
	width: 16rem;height: 5.2rem;
}
.swiper-slide{
	width: 16rem;
}
/**/
.shui{
	width: 16rem;height: 3.75rem;display: flex;justify-content: space-around;
	font-size: 0.6rem;margin-top: 0.6rem;
}
.shui .s_lis{
	width:3rem;height: 3rem;color: #999;
}
.shui .s_lis img{
	width: 2.5rem;
}
/**/
.firend{
	width: 16rem;
}
/**/
.time_box{
	width: 16rem;height: 2.25rem;display: flex;
	justify-content: space-around;
}
.time_l{
	color: #F7610A;	
}
.time_l>p span,.time_r>p span{
	font-size:0.6rem;
}
.time_over{
	width:16rem;height: 1.25rem;background: #f9f9f9;
	font-size: 0.6rem;display: flex;line-height: 1.25rem;
}
.time_over p:last-child{
	
}
.time_over .ge{
	width: 2.3rem;
}
/**/
.foot{
	width: 16rem;height: 2rem;position: fixed;bottom: 0;background: #F9F9F9;
	display: flex;font-size: 0.6rem;justify-content: space-around;
}
.foot .lis{
	width: 2.1rem;height: 2.1rem;
}
.foot .lis img{
	width: 1.2rem;height: 1.2rem;
}
/**/
.herf_img{
	width: 16rem;height:2.5rem ;display: flex;justify-content: space-around;
}
.herf_img img{
	width: 4.5rem;height: 2.5rem;
}
/**/
.none{
	width: 16rem;height: 2.2rem;
}





