
*{margin: 0;padding: 0;}
a{
	text-decoration: none;color: #333;
}
ul{
	list-style: none;
}
img{
	vertical-align: middle;
}
.left{
	float: left;
}
.right{
	float: right;
}
/**/
.top{
	width: 16rem;height: 2.7rem;display: flex;text-align: center;line-height:5.56rem ;
	justify-content: space-around;border-bottom: 0.01rem solid #ccc;
}
.top .t_n{
	width:2rem;height: 2.5rem;
}
.top .t_t{
	width: 5rem;height:2.5rem;
}
.top .t_s{
	width: 4rem;height: 2.5rem;
}
/**/
.nav_box{
	width: 16rem;height: 2.5rem;display: flex;margin-top: 0.3rem;margin-bottom: 0.2rem;
}
.nav_box>img{
	width:4.5rem;height: 2.5rem;
}
.nav_box .nav{
	width: 13.5rem;height: 2rem;display: flex;justify-content: space-around;
}
.nav_box .n_list{
	height: 2rem;text-align: center;
}
.nav_box .nav p{
	font-size: 0.75rem;
}
.nav_box .nav span{
	font-size: 0.45rem;color: #999;
}
/**/
.swiper-slide img{
	width: 16rem;height:7.5rem;
}
.swiper-slide{
	width: 16rem;
}
/**/
.pin{
	width: 16rem;display: flex;
}
.pin>img{
	width: 7.5rem;height:9.75rem;
}
.pin .img_b{
	width: 8.5rem;height: 9.75rem;
}
.pin .img_b>img{
	width: 8.5rem;
}
/**/
.b_img>img{
	width: 16rem;
}
/**/
.foot{
	width: 16rem;height: 2rem;position: fixed;bottom: 0;background: #F9F9F9;
	display: flex;font-size: 0.6rem;justify-content: space-around;
}
.foot .lis{
	width: 2.1rem;height: 2.1rem;
}
.foot .lis img{
	width: 1.2rem;height: 1.2rem;
}
/**/
.none{
	width: 16rem;height: 2.2rem;
}

















