*{margin: 0; padding: 0;}
li{
	list-style: none;
}
img{
	border: none;
	vertical-align: middle;
}
a{
	text-decoration: none;
	color: #333;
}
body{
	background: #e5e5e5;
}
/*头部——————————————————————————————————————*/
#header{
	width: 100%;
	height: 0.9rem;
	background: #fe4300;
	display: flex;
	justify-content: space-between;
}
.qr_code{
	display: flex;
	flex-direction: column;
	padding-top: 0.1rem;
	justify-content: space-around;
	align-items: center;
	margin-left: 0.08rem;
}
.qr_code p{
	font-size:0.24rem;
	color: white;
}
.qr_code img{
	width: 0.4rem;
	height: 0.4rem;
}
.search{
	width: 3.7rem;
	height: 0.55rem;
	border-bottom: 1px solid white;
	display: flex;
	padding-top: 0.16rem;
	position: relative;
}
.search:before{
	content: "";
	width:2px;
	height: 2px;
	background: white;
	position: absolute;
	bottom:0;
}
.search:after{
	content: "";
	width:2px;
	height: 2px;
	background: white;
	position: absolute;
	right: 0;
	bottom:0;
}
.search input{
	border: none;
	outline:none;
	background: #fe4300;
	background: url(../taobao/效果图1_09.png) no-repeat 0.4rem center;
	padding-left: 0.8rem;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
.message{
	margin-right: 0.1rem;
}
/*banner部分*/
.swiper-container{
	width: 100%;
	height: 2.48rem;
}
.swiper-slide img{
	width: 100%;
	height: 2.48rem;
}
/*导航部分*/
#nav{
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}
#nav ul{
	
	width: 100%;
	height: 3.4rem;
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
	background: #fff;
}
#nav ul li{
	width: 20%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0.1rem;
}
#nav ul li img{
	width: 1.13rem;
	height: 1.13rem;
}
#nav ul li span{
	font-size: 0.23rem;
	color: ;
}
